{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <title>Document</title>
</head>
<body>
    <header id="header">
        <button class="botaoBranco">Login</button>
        <button id="init" class="botaoTransparente">Início</button>
        <button id="sobre" class="botaoTransparente">Sobre nós</button>
        <button id="anuncie" class="botaoTranspMaior">Anuncia aqui!</button>
        <img class="logo" src="logo.svg">
    </header>
    <div id="crieaconta" class="crieaconta">
        <h3 >Crie sua conta agora!</h3>
    </div>
    
    <countainer class="countainer">
        <input class="nome">
        <input class="email">
        <input class="senha">
        <input class="confirma_senha">
        <button class="continuar">Continuar</button>
    </countainer>
    <div>
        <img src="Group 29.svg" class="Mockup1"  id="Mockup1">
    </div>
    <div>
        <h1 class="brand">Faça seu cadastro para receber CUPONS de desconto e notificações de DESCONTO das suas lojas favoritas!</h1>
    </div>
</body>
</html>